.nav-button[href*="portfolio.html"] {
  color: #34b7a7;
}

* {
  margin: 0px;
}
section {
  margin-top: 80px;
  margin-bottom: 60px;
}

/* child-container-1 */
ul {
  text-decoration: none;
  padding: 0px;
}
li {
  display: inline-block;
  padding: 8px 20px;
  margin-right: 5px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 500;
}
li:hover {
  transition: 0.5s;
  background-color: #34b7a7;
  color: white;
  cursor: pointer;
}
li:active {
  background-color: #34b7a7;
  color: white;
}

/* child-container-2 */
.child-container-2 {
  width: 1320px;
  height: 1230px;
  display: flex;
  justify-self: center;
  position: relative;
}
.photo-container>img {
  width: 100%;
  height: auto;
  display: block;
}

.photo-container {
  width: 440px;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 24px;
}

.photo-container-1 {
  position: absolute;
  left: 0%;
}
.photo-container-2 {
  position: absolute;
  left: 33.33%;
}
.photo-container-3 {
  position: absolute;
  right: 0%;
}

.photo-container-4 {
  position: absolute;
  right: 0%;
  top: 21%;
}
.photo-container-5 {
  position: absolute;
  left: 33.33%;
  top: 24.5%;
}
.photo-container-6 {
  position: absolute;
  left: 0%;
  top: 36%;
}

.photo-container-7 {
  position: absolute;
  right: 0%;
  top: 45%;
}
.photo-container-8 {
  position: absolute;
  right: 0%;
  top: 68.5%;
}
.photo-container-9 {
  position: absolute;
  right: 33.33%;
  top: 77%;
}

@media screen and (min-width: 1272px) {

}
@media screen and (min-width: 1200px) and (max-width: 1272px) {
  .child-container-2 {
    width: 1140px;
    height: 1079.35px;
  }
  .photo-container {
    width: 380px;
  }

  .photo-container-1 {
    left: 0%;
  }
  .photo-container-2 {
    left: 33.33%;
  }
  .photo-container-3 {
    right: 0%;
  }

  .photo-container-4 {
    right: 0%;
    top: 21%;
  }
  .photo-container-5 {
    left: 33.33%;
    top: 24.5%;
  }
  .photo-container-6 {
    left: 0%;
    top: 36%;
  }

  .photo-container-7 {
    right: 0%;
    top: 45%;
  }
  .photo-container-8 {
    right: 0%;
    top: 68.5%;
  }
  .photo-container-9 {
    right: 33.33%;
    bottom: 0%;
  }
}
@media screen and (min-width: 990px) and (max-width: 1200px) {
  .child-container-2 {
    width: 960px;
    height: 909.53px;
  }
  .photo-container {
    width: 320px;
  }

  .photo-container-1 {
    left: 0%;
  }
  .photo-container-2 {
    left: 33.33%;
  }
  .photo-container-3 {
    right: 0%;
  }

  .photo-container-4 {
    right: 0%;
    top: 21%;
  }
  .photo-container-5 {
    left: 33.33%;
    top: 24.5%;
  }
  .photo-container-6 {
    left: 0%;
    top: 36%;
  }

  .photo-container-7 {
    right: 0%;
    top: 45%;
  }
  .photo-container-8 {
    right: 0%;
    top: 68.5%;
  }
  .photo-container-9 {
    right: 33.33%;
    bottom: 0%;
  }
}
@media screen and (min-width: 768px) and (max-width: 990px) {
  .child-container-2 {
    width: 720px;
    height: 1477.85px;
  }
  .photo-container {
    width: 360px;
  }

  .photo-container-1 {
    left: 0%;
  }
  .photo-container-2 {
    left: 50%;
  }
  .photo-container-3 {
    right: 0%;
    top: 17%;
  }

  .photo-container-4 {
    left: 0%;
    top: 25%;
  }
  .photo-container-5 {
    left: 50%;
    top: 31.5%;
  }
  .photo-container-6 {
    left: 0%;
    top: 42%;
  }

  .photo-container-7 {
    right: 0%;
    top: 67.2%;
  }
  .photo-container-8 {
    left: 0%;
    top: 77.5%;
  }
  .photo-container-9 {
    right: 0%;
    top: 83.5%;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .child-container-2 {
    width: 540px;
    height: 4310.650px;
    flex-direction: column;
  }
  .photo-container {
    position: static;
    width: auto;
  }
}
@media screen and (max-width: 576px) {
  .child-container-2 {
    width: auto;
    height: auto;
    flex-direction: column;
  }
  .photo-container {
    position: static;
    width: auto;
  }
}