.nav_bar > nav > a[href*="resume.html"] {
  color: #34b7a7;
}

* {
  margin: 0px;
  
}

.heading {
  font-size: 26px;
  font-weight: 700;
  margin: 20px 0 20px 0;
}

section {
  padding-top: 80px;
}

h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.summary {
  margin-bottom: 16px;
  text-align: justify;
}
h5 {
  font-size: 16px;
  font-weight: 600;
  padding: 5px 15px;
  display: inline-block;
  margin: 0px 0px 10px 0px;
}

.container {
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-left: 58px;
  margin-right: 58px;
  padding-left: 12px;
  padding-right: 12px;
  justify-content: center;
  padding-bottom: 60px;
}

.child-container {
  width: 670px;
  padding-right: 12px;
  padding-left: 12px;
  line-height: 25px;
}

ul {
  font-size: 16px;
  font-weight: 400;
  padding-left: 20px;
  margin-bottom: 16px;
}
li {
  padding-bottom: 10px;
  text-align: justify;
}

.institute {
  margin-bottom: 16px;
}

.grand-child-container {
  padding-bottom: 20px;
  padding-left: 20px; 
  border-left: 2px solid #34b7a7;
}

.circle-container {
  position: relative;
}

.circle-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-185%);
  width: 12px;
  height: 12px;
  background-color: white;
  border: 2px solid #3b7a74;
  border-radius: 50%;
}

@media screen and (min-width: 1272px) {

}
@media screen and (min-width: 1200px) and (max-width: 1272px) {

}
@media screen and (min-width: 990px) and (max-width: 1200px) {
  .child-container {
    width: 456px;
  }
}
@media screen and (min-width: 768px) and (max-width: 990px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .child-container {
    width: 696px;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .child-container {
    width: 516px;
  }  
}
@media screen and (max-width: 576px) {
  .container {
    display: flex;
    flex-direction: column;
    margin: 0px;
  }
  .child-container {
    width: auto;
  }
}